<h1>Epic List of Cohorts FTMFW</h1><br><br>
  <%= link_to 'Gamble', '/students/gamble' %><br><br>
  <%= link_to 'Casey', '/students/casey' %><br><br>
  <%= link_to 'Fremen', '/students/fremen' %><br><br><br>

<dl class="sub-nav">
  <dt>Students:</dt>
  <dd class="active"><a href="#">All</a></dd>
  <dd><a href="/students/gamble">Gamble</a></dd>
  <dd><a href="/students/casey">Casey</a></dd>
  <dd><a href="/students/fremen">Fremen</a></dd>
</dl>