<h1>Epic List of Cohorts FTMFW</h1><br><br>
  <%= link_to 'Danny', '/students/show_danny' %><br><br>
  <%= link_to 'Casey', '/students/show_casey' %><br><br>
  <%= link_to 'Fremen', '/students/show_fremen' %><br>
